.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: 4fr 8fr; é o mesmo que 1fr e 2fr que totalizara 12 colunas */
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  /* 4.5rem*16*1.125=81 valor do line-height no portifolio */
  line-height: 1.125;
  margin-bottom: 30px;
  /* para segurar o detalhe */
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("/Origamid/portifolio/img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15;
  left: -40px;
  /* colocar para atras do texto */
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }

  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao img {
    display: none;
  }
}
